
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

* {
  font-family: 'Hanna', fantasy;
}
#player {
  background-image: url('/images/mainImage.png');
  background-position: center;
  background-size: cover;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.poster {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 50%;
  color: #fff;
}
.overlay {
  background: rgba(0,0,0,0.3); color: #fff; padding: 1rem
}
.poster h1 { font-size: 5rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.poster h3 {
  font-size: 3rem;
}
.poster .description-text {
  font-size: 2rem;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
  .poster h1 {
    font-size: 2rem;
    margin-bottom: .2rem;
  }
  .poster h3 {
    font-size: 1.5rem;
  }

  .poster .description-text {
    font-size: 1rem;
  }
}
.lineup ul {
  padding: 0;
}
.lineup li {
  list-style: none
}

#play-button {
  border: 1px solid #ccc;
  color: #000;
  background-color: #fff;
}

#play-next-button {
  border: 1px solid #ddd;
  color: #000;
  background-color: #fff;
}

#mute-button {
  border: 1px solid #3869e2;
  color: #fff;
  background-color: #3869e2;
}

.buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.buttons button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
